footer {
    width: 100vw;
    height: 300pxpx;
    background: 
        url(../assets/8ca50fac8bdafff0f45e70f58dd991cd.png) repeat,
        #1e1e1e
}

.sec-footer {
    width: 84vw;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    
    justify-content: space-evenly;
}

#logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#logo-container img {
    width: 200px;
}

#redes-sociais-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

#redes-sociais-container ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}


#redes-sociais-container ul li a img {
    height: 60px;
    width: 60px;
    padding: 7px;
    filter: saturate(0);
    
    transition: 1s;
}

#redes-sociais-container ul li a img:hover {
    filter: saturate(1);

    transition: 1s;
    transform: scale(1.1);
}


.nav-footer {
    width: 84vw;

    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: space-around
    

}

.footer-section {
    text-align: left;
}

.footer-section h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: center;
    background-image: linear-gradient(to right, #cc3e18, #f0971c);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
}

.footer-section ul {
    list-style: none;
    padding: 2px;
    text-align: center;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: beige;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: 500;
}

#creditos-footer {
    margin-top: 20px;
    text-align: center;
    font-size: 0.9rem;
    border-top: 1px solid beige;
    color: beige;
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: 500;
}